<?xml version="1.0" encoding="UTF-8"?>
<!--DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd"-->
<suite name="mercurySuite" thread-count="2" parallel="tests">

  <test  name="MercuryChromeTest">
  <parameter name="browser" value="Chrome" />
    <classes>
      <class name="pack.test.MercuryPageTest"/>
    </classes>
  </test> <!-- Test -->
  
  <test  name="MercuryFirefoxTest">
  <parameter name="browser" value="Firefox" />
    <classes>
      <class name="pack.test.MercuryPageTest"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->